<script type="text/javascript">
  window.askAnythingAssets = {
    logo: "<%= image_url('logo.jpg') %>",
    participant: "<%= image_url('signup-participant.jpg') %>",
    presenter: "<%= image_url('signup-presenter.jpg') %>"
  }
</script>

<main className="main-page" id="content">You are in the Static Pages Root</main>
