<script type="text/javascript">
  window.askAnythingAssets = {
    logo: "<%= image_url('logo.jpg') %>",
    participant: "<%= image_url('signup-participant') %>",
    presenter: "<%= image_url('signup-presenter') %>"
  }
</script>

<main id="content">You are in the Static Pages Root</main>
