<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Dear <%= @user.first_name %>,
    </p>
    <p>
      To reset the password to your AskAnything! account, click the link below:
    </p>
    <p>
      <%= @reset_password_url %>
    </p>
  </body>
</html>
