.democontentgif {
  float: left;
  z-index: -9999;
  position: relative;
  width: 100%;
  min-width: 1200px;
  max-height: 700px;
  bottom: 100px;
}

.demo-container {
  color: rgb(219, 217, 221);
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  width: 100%;
  min-width: 1200px;
  text-align: center;
}

.forefront-content {
  position: absolute;
  left: calc(50% - 400px);
  width: 800px;
  float: left;
  top: 150px;
  z-index: 9999;
}

.demo-options {
  position: relative;
}

.demo-options >li {
  float: left;
  width: 370px;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 0;
  margin: 15px;
}

.dinosaur-image {
  float: left;
  display: block;
  position: absolute;
  top: 320px;
  width: 800px;
  height: 600px;
  left: calc(50% - 400px);
  z-index: 5000;
}

.create-question-button {
  background: #db5242;
  text-shadow: none;
  float: left;
  width: 350px;
}

.create-question-button:hover {
  color: black;
}

.main-page-login-options {
  margin-top: 20px;
}

.main-page-login-options > li {
  padding: 10px 0;
}

.twitter-login {
  background: #db5242;
  text-shadow: none;
  position: absolute;
  float: right;
  top: 94px;
  left: 450px;
  width: 350px;
  padding: 10px 0px;

}

.twitter-login:hover {
  color: black;
}

.header-size {
  font-size: 45px;
  font-weight: 900;
}

.demo-description {
  font-size: 17.5px;
  font-weight: 600;
}

.thirty-seconds {
  position: relative;
  font-size: 12px;
  top: 5px;
  right: 228px;
}

.delete-answer-edit-form {
  float: right;
  width: 35px;
  padding: 5px 0;
  background: rgb(38, 48, 108);
  color: white;
  position: relative;
  top: 15px;
  right: 60px;
  text-align: center;
  border-radius: 50%;
}
