.footer-container {
  display: block;
  position: relative;
  color: white;
  font-size: 13px;
  background: #303233;
  height: 170px;
}

.footer-div-container {
  display: block;
  width: 775px;
  padding: 40px;
  margin: auto;
}

.footer-ul-container {
  display: block;
  float: left;
  width: 225px;
  margin: 0 15px;
}

.footer-ul-container > ul {
  font-weight: bold;
}

.footer-li-container > li {
  font-weight: normal;
}

.footer-li-container > li:first-child {
  margin-top: 10px;
}

.footer-li-container > li:hover {
  text-decoration: underline;
}

.footer-survey {
  color: black;
  background: #b4b6ba;
}
