.login-container {
  background: #203349;
  height: 100%;
  padding: 60px;
}

.soft-edges {
  border-radius: 3px;
}

.login-component {
  width: 300px;
  padding: 35px;
  margin: auto;
  background: rgba(255,255,255,0.95);
  font-size: 14px;
}

.error-login {
  display: block;
  background: #f99;
  color: #333;
  font-size: 0.85em;
  padding: 10px;
  border: 1px solid #c00;
  margin: 10px 0;
}

.login-input {
  background: rgb(250, 255, 189);
  border: 1px solid #BCBFC3;
  width: 275px;
  padding: 10px;
  margin: 5px 0;
}

.login-email {
  color: #aaa;
  font-size: 0.7em;
  margin-left: 0.5em;
}

.lost-password {
  color: #083d8d;
  font-size: 10px;
  padding-left: 10px;
}

.hover-underline:hover {
  text-decoration: underline;
}

.signin-button {
  font-size: 12px;
  width: 297px;
  color: rgba(255,255,255,0.95);
  background: #d95347;
  padding: 10px 0;
  padding-left: 50px;
  margin: 10px 0;
}

.signup-link {
   color: #666;
   font-size: 10px;
   position: relative;
   left: 15px;
}

.cancel-forgot {
  font-size: 12px;
  color: #666;
}

.text-center {
  text-align: center;
}

.h11-5 {
  font-size: 11.5px;
}

.password-reset-container {
  background: #203349;
  height: 100%;
}

.password-reset-box {
  position: relative;
  width: 300px;
  height: 80px;
  margin: auto;
  padding: 65px 40px;
  top: 140px;
  background: white;
}

.deep-blue {
  color: rgb(46, 30, 140);
}

.h14 {
  font-size: 13.5px;
}

.home-link {
  position: relative;
  top: 45px;
}

.guest-login-button {
  font-size: 12px;
  width: 297px;
  color: rgba(255,255,255,0.95);
  background: #d95347;
  padding: 10px 0;
  margin-bottom: 5px;
  text-align: center;
}
