/*LOGINFORM*/

.login-container {
  background: #203349;
  height: 100%;
  padding: 60px;
}

.soft-edges {
  border-radius: 3px;
}

.login-component {
  width: 300px;
  padding: 35px;
  margin: auto;
  background: rgba(255,255,255,0.95);
  font-size: 14px;
}

.error-login {
  display: block;
  background: #f99;
  color: #333;
  font-size: 0.85em;
  padding: 10px;
  border: 1px solid #c00;
  margin: 10px 0;
}

.login-input {
  background: rgb(250, 255, 189);
  border: 1px solid #BCBFC3;
  width: 275px;
  padding: 10px;
  margin: 5px 0;
}

.login-email {
  color: #aaa;
  font-size: 0.7em;
  margin-left: 0.5em;
}

.lost-password {
  color: #083d8d;
  font-size: 10px;
}

.signin-button {
  color: rgba(255,255,255,0.95);
  background: #d95347;
  padding: 10px 20px;
  margin: 10px 0;
}

.signin-button:hover {
  cursor: pointer;
}

.signup-link {
   color: #666;
   font-size: 10px;
   margin-left: 20px;
}
