/*LOGO*/

.logo {
  display: block;
  width: 200px;
  margin: 15px auto;
  padding: 20px;
}

.logo-text {
  color: rgba(255,255,255,0.95);
  font-family: "Source Sans Pro", "Trebuchet MS", Arial, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 24px;
}

.logo-image {
  float: left;
  border-radius: 50%;
  margin-right: 10px;
}
