/*LOGO*/

.logo-width {
  width: 200px;
}

.login-logo {
  display: block;
  margin: 15px auto;
  padding: 20px;
}


.logo-text {
  color: rgba(255,255,255,0.95);
  font-family: "Source Sans Pro", "Trebuchet MS", Arial, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 24px;
}

.logo-image {
  float: left;
  border-radius: 50%;
  margin-right: 10px;
}

.nouser-navbar-logo {
  float: left;
  padding: 20px 0;
  height:35px;
}

.user-navbar-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translateY(-50%);
}

.logo-login-button {
  position: relative;
  float: left;
  bottom: 35px;
  left: 30px;
}

.password-reset-logo {
  margin: auto;
  position: relative;
  top: 110px;
}

.auto-margin {
  margin: auto;
}

.none-logo {
  display: none;
}
