.navbar-container {
  display: block;
  color: white;
  background: #203349;
  height: 75px;
}

.navbar-right-ul {
  float: right;
  background: pink;
  border: 1px;
}

.navbar-right-li {
}

.navbar-right-li:hover {
  display: block;
  background: green;
}

.header-notifications {
  display: none;
  position: absolute;
  left: -1px;
  font-size: 14px;
  white-space: nowrap;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

li:hover .header-notifications {
  display: block;
}
