.navbar-container {
  position: relative;
  display: block;
  color: rgb(246, 246, 246);
  background: #203349;
  height: 55px;
  min-width: 1100px;
  z-index: 1;
}

.navbar-left-ul {
  float: left;
  font-size: 13px;
  height: 55px;
  width: 356px;
}

.navbar-right-ul {
  float: right;
  font-size: 11px;
  height: 55px;
  width: 400px;
}

.blue-hover:hover {
  background: rgb(29, 67, 93);
}

.li-float-loggedin {
  float: left;
  height: 19px;
  padding: 18px 11px;
}

.li-float-right {
  float: right;
}

.left-navbar-padding {
  padding: 18px 20px;
}

.my-surveys {
  background: rgb(37, 80, 115);
}

.create-question {
  background: rgb(60, 116, 158);
}

.create-question:hover {
  background: rgb(77, 133, 175);
}

.user-info-container {
  width: 106px;
  padding: 18px 15px;
}

.user-info-container:hover > ul {
  display: block;
}

.user-info {
  display: none;
  float: right;
  position: absolute;
  right: 0;
  top: 55px;
  width: 137px;
}

.user-info > li {
  background: rgb(246, 246, 246);
  color: rgb(36, 91, 121);
  font-size: 14px;
  width: 121px;
  padding: 10px 0 10px 15px;
  border-left: 1px solid rgba(176, 185, 189, 0.56);
  border-bottom: 1px solid rgba(176, 185, 189, 0.56);
}

.user-info > li:hover {
  background: rgb(223, 227, 231);
  padding-left: 14px;
  border-left: 2px solid #203349;
}

.cog-position {
  position: absolute;
  top: 14px;
  right: 15px;
  color: rgba(179, 188, 194, 0.75);
}

.nouser-nav-main-container {
  color: rgb(246, 246, 246);
  background: #203349;
  font-size: 13px;
  height: 75px;
  width: 100%;
  z-index: 1;
}

.nouser-navbar {
  width: 960px;
  margin: auto;
}

.nouser-navbar-left-ul {
  float: left;
}

.nouser-navbar-left-links {
  float: left;
  padding: 29px 0 29px 45px;
}

.nouser-navbar-right-ul {
  float: right;
}

.nouser-navbar-right-ul > li {
  float: left;
}

.login-main {
  margin: 29px 35px 29px 0;
}

.hover-nouser-nav:hover {
  cursor: pointer;
  color: rgba(217, 81, 34, 0.81);
  text-decoration: underline;
  transition: 0.5s;
}

.signup-main {
  font-weight: 600;
  background: rgb(45, 89, 126);
  padding: 10px;
  margin: 19px 35px 19px 0;
}

.empty-link {
  display: none;
}

.empty-link:hover {
  cursor: default;
}
