.questionindexitem-container {
  background: red;
  height: calc(100% - 55px);
  width: 100%;
  min-width: 1050px;
}

.question-graph-container {
  float: left;
  width: calc(100% - 375px);
  min-width: 680px;

  height: calc(100% - 25px);
  min-height: 535px;
  max-height: 800px;

  margin: 20px;
  background: white;
}

.questionindexitem-toolbar {
  float: right;
  position: relative;
  right: 0;
  width: 330px;
  background: #e9eff4;
  height: 100%;
}


/*DeleteQuestion component*/
.delete-question-modal-options-container{
  float: right;

}

.delete-question-modal-options-container > li {
  float: left;
}

.cancel-delete-question {
  color: #BCBFC3;
  position: relative;
  right: 20px;
  top: 7px;
}

.confirm-delete-question {
  color: white;
  background-color: #d95347;
  font-size: 12px;
  font-weight: bolder;
  padding: 8px 42px;
}
