.questionindexitem-container {
  height: 100%;
  width: 100%;
  min-width: 1050px;
}

.question-graph-container {
  float: left;
  width: calc(100% - 375px);
  min-width: 680px;
  min-height: 530px;
  margin: 20px;
  background: green;
}

.questionindexitem-toolbar {
  float: right;
  position: relative;
  right: 0;
  width: 330px;
  background: #e9eff4;
  height: 100%;
}



/*background: #b6cee0;*/
