.questionindexitem-container {
  height: calc(100% - 55px);
  width: 100%;
  min-width: 1050px;
}

.question-graph-container {
  float: left;
  width: calc(100% - 375px);
  min-width: 670px;
  margin: 20px;
  background: white;
  border: 2px solid #ccc;
}

.questionindexitem-toolbar {
  float: right;
  position: relative;
  right: 0;
  width: 330px;
  min-height: 500px;
  background: #e9eff4;
  height: 100%;
}

.my-current-question {
  background: blue;
  color: white;
  font-size: 28px;
  padding: 17px 0;
  background: #255073;
  text-align: center;
}

.graph-bottom {
  position: relative;
  width: 100%;
  bottom: 0;
  background: black;
  color: white;
  height: 35px;
}

.question-prompt {
  text-align: center;
  margin: 5px;
  font-size: 18px;
}

.active-icon-question-index-item {
  position: relative;
  top: 3px;
  margin-right: 5px;
  font-size: 25px;
}

.answers-graph-container {
  margin: 20px;
  min-height: 400px;
  height: calc(100% - 167px);
}

.answers-graph {
  width: calc(100% - 70px);
  min-height: 100%;
  float: left;
  overflow: hidden;
}

.answers-graph-left {
  float: left;
  height: 100%;
  max-width: 50%;
  font-size: 20px;
}

.percentage-graph {
  position: relative;
  top: 45%;
  left: 5px;
}

.answers-graph-left > li {
  display: block;
}

.answers-graph-right {
  height: 500px;
  overflow: hidden;
  border-left: 5px solid rgb(31, 100, 255);
  border-bottom: 5px solid rgb(31, 100, 255);
}

.question-toggle-buttons {
  float: right;
  width: 45px;
}

.question-toggle-buttons > li {
  border: 1px solid rgb(77, 137, 198);
  font-size: 30px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.question-toggle-buttons > li:hover {
  background: #d5e3ee;
}


.toggle-button-inactive {
  color: grey;
  background: #e9eff4;
}

.toggle-button-active {
  color: white;
  background: rgb(73, 111, 167);
}

.question-index-item-timer {
  float: left;
  width: 170px;
  padding: 5px;
}


.question-index-item-timer:hover > li {
  display: block;
}

.graph-bottom-logo-text {
  padding: 2px;
}

.question-timer-input {
  display: none;
  position: relative;
  left: 0;
  bottom: 60px;
  background: #6598c4;
  margin: auto;
  border: 1px solid rgb(19, 82, 147);
  width: 150px;
}

.time-input-field {
  color: white;
  text-align: center;
  background: rgba(4, 5, 15, 0.67);
  display: block;
  float: left;
  position: relative;
  top: 5px;
  width: 80px;
  height: 30px;
}

.clock-icon {
  float: right;
  display: block;
  width: 30px;
  padding: 5px;
  padding-left: 0;
  margin-right: 5px;
  font-size: 30px;
  color: rgb(207, 36, 36);
}

.countdown-time {
  float: right;
  width: calc(100% - 180px);
  height: inherit;
}


.delete-question-modal-options-container{
  float: right;
  position: absolute;
  bottom: 17px;
  right: 17px;
}

.delete-question-modal-options-container > li {
  float: left;
}

.cancel-delete-question {
  color: #BCBFC3;
  position: relative;
  right: 20px;
  top: 7px;
}

.confirm-delete-question {
  color: white;
  background-color: #d95347;
  font-size: 12px;
  font-weight: bolder;
  padding: 8px 42px;
}

.h24 {
  font-size: 24px;
}

.h18 {
  font-size: 18px;
}

.bold {
  font-weight: bold;
}

.question-delete-question {
  padding: 10px 0 12px 0;
}

.configured-list-items {
  color: #255073;
}

.configured-list-items > li {
  padding: 12px;
  border-bottom: 1px solid white;
  font-size: 13px;
  font-weight: bold;
  background-color: #ccdce8;
}

.configured-list-items > li:hover {
  cursor: pointer;
}

.configured-list-items >li:last-child {
  border-bottom: 0;
}

.configured-list-items > li > div {
  padding-right: 5px;
}

.configureChecked {
  background: rgb(69, 150, 226);
}

.testChecked {
  background: rgb(69, 150, 226);
}

.presentChecked {
  background: rgb(69, 150, 226);
}
