.display-inline {
  display: inline;
}

.margin-auto {
  margin: auto;
}

.question-form-generator-container {
  width: 660px;
  height: 110px;
  background: rgb(227, 235, 250);
  margin: 20px 20px 15px 20px;
}

.single-question-form {
  width: 660px;
  min-height: 410px;
  background: rgb(227, 235, 250);
  margin: 20px;
}

.category-container {
  float: left;
  position: relative;
  width: 150px;
  left: 20px;
}

.answer-choice-type {
  margin: 5px 0;
}

.category-container > li {
  padding: 10px 0 10px 10px;
  color: #494e59;
}

.category-container > li:hover {
  cursor: pointer;
  background: white;
}

.category-checked {
  background: white;
}

.category-name {
  position: relative;
  display: inline;
  left: 6px;
}

.h12 {
  font-size: 12px;
  font-weight: 900;
}

.answer-container {
  float: right;
  position: relative;
  right: 15px;
  min-height: 260px;
  margin-bottom: 20px;
  width: 475px;
  background: white;
}

.single-answer-input {
  position: relative;
  left: 35px;
  top: 10px;
  width: 393px;
  height: 35px;
  padding-left: 7px;
  border: 1px solid #BCBFC3;
  background: rgb(255, 255, 255);
}

.first-answer-container {
  margin-top: 18px;
}

.question-input-field {
  background-color: #fff;
  width: 613px;
  height: 45px;
  padding-left: 7px;
  border: 1px solid #BCBFC3;
  margin: 7px 0 18px 0;
  box-shadow: inset 0px 0px 10px #ddd;
}

.placeholder-text {
  position: relative;
  font-weight: normal;
  width: 615px;
  height: 45px;
  top: 2px;
  padding: 2px 0 2px 8px;
  margin-left: 0;
}

.h22 {
  font-size: 22px;
}

.add-question {
  position: relative;
  font-size: 14px;
  font-weight: 900px;
  left: 18px;
  top: 20px;
}

.text-shift-left {
  position: relative;
  left: 20px;
}

.cancel-question-form {
  position: relative;
  left: 550px;
}

.question-creation-button {
  position: relative;
  left: 560px;
  font-size: 12.8px;
  color: #f7f8f9;
  background: #113a5c;
  padding: 12px 21px 12px 20px;
  margin-right: 0;
}

.delete-question {
  float: right;
  position: relative;
  bottom: 10px;
  left: 10px;
  color: white;
  background: black;
  font-weight: bold;
  border-radius: 50%;
}

.answer-text {
  position: relative;
  left: 35px;
  top: 20px;
  margin-bottom: 10px;
}

.protip-custom {
  position: relative;
  display: block;
  width: 55px;
  font-size: 11px;
  font-weight: 900;
  float: right;
  color: rgb(170, 170, 170);
  right: 15px;
  top: 25px;
}

.protip-custom:hover {
  cursor: pointer;
  color: rgb(102, 102, 102);
}

.protip-custom:hover > ul {
  display: block;
}

.protip-only {
  float: left;
  width: 40px;
}

.TM-only {
  float: right;
  width: 15px;
  font-size: 6px;
  position: relative;
  top: 1px;
  right: 4px;
}

.protip-popup {
  display: none;
  float: right;
  position: absolute;
  font-size: 13px;
  top: 15px;
  right: 0px;
  color: white;
  background: rgb(35, 37, 31);
  width: 300px;
  padding: 15px;
  margin: 5px 0;
  z-index: 50;
}

.protip-popup > li {
  margin: 10px 5px;
}

.red {
  color: red;
}

.blue {
  color: rgb(44, 101, 161);
}

.green {
  color: green;
}

.text-inline {
  display: inline;
}

.add-answer-button {
  position: relative;
  top: 15px;
  left: 35px;
  width: 70px;
  padding: 5px;
  color: #e9eff4;
  margin-bottom: 40px;
  background-color: #203349;
}

.h9-5 {
  font-size: 9.5px;
}

.trash-answer {
  position: relative;
  left: 445px;
  bottom: 20px;
}

.trash-answer:hover {
  color: rgb(21, 25, 110);
  cursor: pointer;
}

.small-arrow {
  float: right;
  position: relative;
  bottom: 25px;
  right: 30px;
  font-size: 12px;
  font-weight: lighter;
  color: #f7f8f9;
  background: #113a5c;
}
