.question-index-list >li {
  color: rgb(55, 127, 201);
  border-top: 2px solid white;
  height: 15px;
  overflow: visible;
  padding: 15px 75px;
  padding-top: 10px;
}

.question-index-list >li:first-child {
  border-top: 0;
}

.h13 {
  font-size: 13px;
}

.current-question {

}

.update-delete {
  display: none;
  float: left;
  width: 70px;
  position: relative;
  left: 600px;
  bottom: 16px;
}

.delete-index-question {
  position: relative;
  top: 2px;
  left: 20px;
}

.update-delete > li {
  float: left;
}

.active-icon {
  float: right;
  position: relative;
  bottom: 18px;
  right: 65px;
}

/*.delete-index-question {
  float: right;
  position: relative;
  bottom: 15px;
  right: 85px;
}*/

.delete-index-question:hover {
  color: red;
  cursor: pointer;
  text-decoration: underline;
}

.edit-question-link {
  font-size: 11px;
  /*float: right;
  position: relative;
  right: 155px;
  bottom: 15px;*/
}

.edit-question-link:hover {
  color: red;
  cursor: pointer;
  text-decoration: underline;
}

.nonactivated-icon {
  color: #ccc;
}

.nonactivated-icon:hover {
  color: rgb(43, 203, 10);
}

.activated-icon {
  color: rgb(43, 203, 10);
}

.nonactive-question {
  background: #e9eff4;
}

.nonactive-question:hover {
  background: #d3dde4;
}

.active-question {
  background: rgb(190, 237, 184);
}

.active-question:hover {
  background: rgb(161, 232, 152);
}

/*.show-edit-delete {
  height: 100%;
  width: calc(100% - 150px);
}*/

.show-edit-delete > ul {
  /*display: none;
  float: right;
  position: relative;
  background: black;*/
}

.update-delete {
  /*display: none;*/
}

.show-edit-delete:hover > ul {
  display: block;
}

.active-icon {
  /*float: right;
  position: relative;
  right: 17px;
  bottom: 19px;*/
  font-size: 22px;
}
