.bottomOptions-question-menu {
  background: rgb(37, 80, 115);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.bottomOptions-options {
  color: white;
  font-size: 14px;
  display: block;
  float: left;
  width:110px;
  padding: 12px 0;
  text-align: center;
  position: relative;
  height: 100%;
}

.bottomOptions-options:hover {
  background: #203349;
}

.bottomOptions-options:last-child:hover {
  color: rgba(238, 148, 135, 1);
}

.bottomOptions-edit-options {
  color: white;
  float: left;
  display: block;
  width: 165px;
  padding: 12px 0;
  font-size: 14px;
  text-align: center;
}

.cancel-question-edit:hover {
  background: #203349;
}

.confirm-question-save {
  background-color: #d95347;
}

.topOptions-question-menu {
  background: rgb(37, 80, 115);
  position: relative;
  width: 100%;
}

.topOptions-options {
  color: white;
  font-size: 14px;
  display: block;
  float: left;
  width:110px;
  padding: 12px 0;
  text-align: center;
  position: relative;
  height: 100%;
}

.topOptions-options:hover {
  cursor: pointer;
}

.test-list-items {
  background: red;
}

.test-list-items > li {
  float: left;
  width: 165px;
  padding: 12px 0;
  text-align: center;
  position: relative;
  height: 100%;
  font-size: 14px;
  background-color: #ccdce8;
}

.test-list-items > li {

}
