.question-index-list > li {
  color: rgb(55, 127, 201);
  border-top: 2px solid white;
  height: 15px;
  overflow: visible;
  padding: 15px 30px;
  padding-top: 10px;
}

.question-index-list >li:first-child {
  border-top: 0;
}

.show-edit-delete:hover > div.current-question {
  color: red;
  text-decoration: underline;
}

.h13 {
  font-size: 13px;
}

.current-question {
  padding-left: 42px;
}

.update-delete {
  float: right;
  width: 225px;
  position: relative;
  right: 0;
  bottom: 16px;
}

.update-delete > li {
  display: none;
}

.delete-index-question {
  position: relative;
  top: 2.25px;
  left: 20px;
}

.update-delete > li {
  float: left;
}

.active-icon {
  float: right;
  position: relative;
  bottom: 3px;
  right: 110px;
  font-size: 22px;
}

.delete-index-question:hover {
  color: red;
  cursor: pointer;
  text-decoration: underline;
}

.edit-question-link:hover {
  color: red;
  cursor: pointer;
  text-decoration: underline;
}

.nonactivated-icon {
  color: #ccc;
}

.nonactivated-icon:hover {
  color: rgb(43, 203, 10);
}

.activated-icon {
  color: rgb(43, 203, 10);
}

.nonactive-question {
  background: #e9eff4;
}

.nonactive-question:hover {
  background: #d3dde4;
}

.active-question {
  background: rgb(190, 237, 184);
}

.active-question:hover {
  background: rgb(161, 232, 152);
}

.show-edit-delete:hover > ul > li {
  display: block;
  
}
