.responseform-page {
  background: #203349;
  height: 100%;
  min-height: 970px;
  width: 100%;
}

.responseform-menu {
  height: 50px;
  background: rgb(17, 20, 22);
}

.no-user-message-container {
  position: relative;
  top: 90px;
  width: 300px;
  padding: 20px 15px;
  margin: auto;
  color: #203349;
  background-color: rgba(255,255,255,0.9);
}

.no-user-message-ul {
  list-style: disc;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bolder;
}

.no-user-message-ul > li {
  font-weight: 400;
  position: relative;
  left: 20px;
  padding-top: 5px;
  font-size: 12.5px;
}

.end-of-internet {
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.menu-bars {
  color: white;
  font-size: 25px;
  float: right;
  position: relative;
  right: 20px;
  top: 12px;
}

.user-found-no-active-question-container {
  padding: 20px;
  color: white;
  position: absolute;
  width: 750px;
  height: 180px;
  top: calc(50% - 100px);
  left: calc(50% - 375px);
}

.welcome-response-form-presentation {
  font-size: 26px;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 25px;
}

.welcome-response-form-text {
  font-size: 13px;
  font-weight: bolder;
  margin-bottom: 5px;
}

.found-user-active-question-container {
  min-width: 760px;
  max-width: 1160px;
  padding: 20px;
  margin: auto;
  color: #d9e7f2;
  background: #203349;
}

.found-user-active-question {
  font-size: 22px;
  font-weight: bolder;
}

.answers-list-response-form > li {
  margin-bottom: 10px;
  padding: 20px 20px 20px 0;
  height: 10%;
}

.vote-status-response-form {
  margin: 15px 0;
}

.answer-choice-response-form-container {
  position: relative;
  width: 100%;
}

.answer-choice-response-form {
  float: right;
  width: calc(100% - 75px);
}

.my-vote-container {
  float: left;
  width: 75px;
  height: 100%;
  top: 0;
  left: 0;
}

.my-vote {
  position: absolute;
  width: 35px;
  top: calc(50% - 18px);

  margin: 0 20px;

  color: #d9e7f2;
  background: #203349;
  padding: 10px 0;
  text-align: center;
  font-size: 12px;
}

.my-vote-recorded {
  position: absolute;
  width: 35px;
  top: calc(50% - 18px);

  margin: 0 20px;

  color: #e9eff4;
  background-color: #737373;
  border: 1px solid rgba(0,0,0,0.5);
  padding: 10px 0;
  text-align: center;
  font-size: 12px;
}


.answer-choice-response-form-voted {
  float: right;
  width: calc(100% - 75px);
}

.voted-lis {
  background: rgba(244, 234, 223, 0.78);
  color: #203349;
}

.voted-lis:hover {
  background: rgba(177, 173, 168, 0.78);
}

.non-voted-lis {
  background: #d5e1e9;
  color: #203349;
}

.non-voted-lis:hover {
  cursor: pointer;
}

.clear-my-response {
  position: relative;
  top: 13px;
  display: inline;
  padding: 15px 10px;
  background: #255073;
  color: #f2f2f2;
  font-size: 14px;
}
