.sidenav-container {
  float: left;
  display: block;
  width: 155px;
  margin: 20px;
}

.question-form-button {
  color: rgb(241, 242, 233);
  background: #d15145;
  text-align: center;
  font-size: .75em;
  font-weight: 900;
  padding: 9px 0;

}

.sidenav-list-link {
  display: block;
  margin-top: 15px;
  color: #203349;
  background: #c8d8e4;
  font-size: 13.5px;
  font-weight: bold;
  padding: 5px 10px;
}

.sidenav-list-li {
  margin-top: 15px;
  color: #203349;
  background: #c8d8e4;
  font-size: 13.5px;
  font-weight: bold;
  padding: 5px 10px;
}

.sidenav-list-li:hover {
  background: rgb(223, 227, 231);
}

.blue-color-text {
  color: #3c749e;
  font-weight: normal;
}

.searchbar-input {
  position: relative;
  right: 8px;
  width: 151px;
  height: 25px;
}
