/*SIGNUPMAIN*/

.signup-page-container {
  background: #fff;
}

.choose {
  margin: auto;
  color: #758BA8;
  font-size: 30px;
  font-weight: 700;
  width: 400px;
}

.bottom {
  font-size: 10px;
  margin: auto;
  width: 350px;
  opacity: 0.75;
  font-weight: 400
}

.signup-options-container {
  width: 600px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 40px;
}

.signup-options {
  float: left;
  margin: 20px;
  width: 250px;
  padding: 2px;
}

.signup-options:hover {
  cursor: pointer;
}

.signup-images {
  margin: 20px 80px;
}

.large-text {
  font-family: "Source Sans Pro", "Trebuchet MS", Arial, Verdana, sans-serif;
  font-weight: 900;
  font-size: 20px;
  text-align: center;

}

.small-text {
  font-size: 12px;
  text-align: center;
  padding: 19px;
}
