.surveysindex-container {
  position: relative;
  min-width: 1100px;
}

.surveysindex-ul {
  float: left;
  left: 200px;
  width: calc(100% - 230px);
  margin: 10px;
  background: blue;
  z-index: -10;
}

.surveysindex-li {
  background: #c8d8e4;
  height: 50px;
  border: 2px solid red;
}
