.user-edit-container {
  font-size: 13px;
  min-width: 600px;
  height: calc(100% - 275px);
  min-height: 650px;
  margin: 30px 280px 30px 190px;
}

.h7 {
  color: #3c749e;
  font-size: 19px;
  font-weight: 900;
}

.edit-button {
  color: white;
  background: #255073;
  font-size: 12px;
  font-weight: bolder;
  padding: 10px 15px;
}

.cancel-edit {
  font-weight: lighter;
  color: rgb(221, 92, 78);
}

.cancel-edit:hover {
  text-decoration: underline;
}

.hover-text:hover {
  cursor: text;
}

.error-edit-email-password {
  background-color: #fa6969;
  border: 1px solid #ed4545;
  width: 100%;
  color: white;
  padding: 10px;
}

.error-edit-user-large {
  padding: 10px 0;
}

.error-edit-user-small {
  margin-top: 20px;
}

.red-inline{
  color: red;
  display: inline;
}

.blue-link {
  color: blue;

}

.blue-link:hover {
  text-decoration: underline;
  color: red;
}

.password-hint {

}
