<!DOCTYPE html>
<html>
<head>
  <title>Ask Anything!</title>

  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"></html>
</head>

<body>

<%= yield %>

</body>
